@using SimpleAuthentication03.ViewModels.Account
@model LoginViewModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>

    <h4>Log in with your account</h4>
    <hr />
    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
    {
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email)

        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)

        <input type="submit" value="Log in" class="btn btn-default" />
        <p>@Html.ActionLink("Register as a new user", "Register")</p>
    }
</body>
</html>
